{{ if default true .Site.Params.CarouselHomepage.enable }}
{{ if isset .Site.Data "carousel" }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel"
                data-autoplay="{{ default true .Site.Params.CarouselHomepage.auto_play }}"
                data-slide-speed="{{ default 2000 .Site.Params.CarouselHomepage.slide_speed }}"
                data-pagination-speed="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}">
                {{ range $index, $item := sort .Site.Data.carousel "weight" }}
                <div class="item{{ if eq $index 0 }} item-featured-logo{{ end }}">
                    {{ if $item.href }}
                    <a href="{{ $item.href }}"{{ if hasPrefix $item.href "http" }} target="_blank"{{ end }} title="{{ $item.title | safeHTML }}">
                    {{ end }}
                        <div class="row">
                            <div class="col-sm-5 right">
                                <h1>{{ $item.title | safeHTML }}</h1>
                                {{ $item.description | safeHTML }}
                            </div>
                            <div class="col-sm-7 carousel-visual{{ if eq $index 0 }} carousel-visual--featured{{ end }}">
                                <img class="img-responsive" src="{{ $item.image }}" alt="">
                            </div>
                        </div>
                    {{ if $item.href }}
                    </a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
